.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Not-found {
    font-size: larger;
    font-weight: bold;
    font-family: cursive;
    font-style: oblique;
    color: white;
}

.Return {
    font-size: small;
    color: blue;
    font-style: italic;
}
